body {
}

/*NAVBAR*/

.nav.navbar-nav {
    display: inline;
    float: right;
    background-color: #484A4C;
    text-decoration: none;
}

a {
    color: white;
}

.col-md-11 {
    background-color: #484A4C;
}

#logo {
    float: left;
}

.topOne.col-md-1 {
    background-color: #484A4C;
}

/*HEADER*/

div.head {
    background-color: #484A4C;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

img#twoHouseImg {
    position: relative;
    right: 280px;
}

img#mapImg.img-responsive {    
    height: 374px;
    
}

div.picWithText {
    position: relative;
    top: 20%;
    left: 20%;
}

#textOne {
    position: relative; 
    bottom: 315px;
    color: white;
    font-family: 'Indie Flower', cursive;
}

#textTwo {
    position: relative; 
    bottom: 315px;
    color: white;
    font-family: 'Indie Flower', cursive;
}

/*LOCATIONS*/

h1#location {
    position: relative;
    right: 400px;    
}

h3#somePlaces {
    position: relative;
    right: 460px;
    bottom: 15px;
    /*background-color:  #484A4C;    failed to set background to grey, for it would turn entire top left corner grey, obscuring the primary picture and title*/
}

#locationOnePic {
    float: right;
    margin-top: 40px;
}

#buttonOne {
    border-color: #484A4C;
}

#locationTwo {
    color: white;
    background-color: #484A4C;
}

div#buttonTwo {    /*Unable to discover what to call this to have it obey instruction. A simple margin-bottom increase would solve the blank white box in my website*/
    color: black;
    margin-bottom: 40px;
}

#locationTwoPic {
    background-color: #484A4C;
}

img.img-responsive {
    float: right;
}

#locationThree {
    background-color: white;
    margin-bottom: 60px;
}

#locationThreePic {
    background-color: white;
}

div#buttonThree { /*Unable to discover what to call this to have it obey instruction. This may be a mechanism of the button class that I don't understand... Need to fix this to fix the odd grey box below this button.*/
    margin-bottom: 60px;
}

/*AMMENITIES*/ /*Using position: absolute was a huge mistake for this section. I discovered how to use position: relative late in the project and would redue this section using that tool
    if I still had the time to do that. Moving a single object, or changing a single objects position: status creates a hideous, blocky, mockery of abstract art. Not enough time to fix.*/

div.ammenities {
    background-color: #484A4C;
    text-align: center;
    color: white;
}

div.ammenitiesOne.row.container {
    margin-left: 45px;
}

p#ammenitiesOneText {
    align-content: center;
}

div#buttonThree {
    align-content: center;
}

div.ammenitiesOne h2 {
    position: absolute;
    top: 35%;
    right: 30%;
    color: white;
    background-color: #484A4C;
}

p#ammenitiesTwoText {
    text-align: center;
}

div#ammenitiesPicThree h2 {
    position: absolute;
    top: 35%;
    right: 35%;
    color: white;
    background-color: #484A4C;
}

p#ammenitiesThreeText {
    text-align: center;
}

h2#enjoy {
    position: absolute;
    top: 35%;
    right: 20%;
    color: white;
    background-color: #484A4C;
}

h2#private {
    position: absolute;
    top: 35%;
    right: 20%;
    color: white;
    background-color: #484A4C;
}

/*CAROUSEL*/

h1#reviews {
    height: 50px;
    margin-bottom: 0px;
    background-color: #484A4C;
    text-align: center;
    color: white;
}

h4#car {
    height: 50px;
    margin-top: 0px;
    background-color: #484A4C;
    text-align: center;
    color: white;
}

div.carousel-inner {
    height: 50px;
}

div#carousel-example-generic {
    height: 50px;
    margin-top: 20px;
}

p#carOne {
    text-align: center;
}

h4#carTwo {
    text-align: center;
}

p#carThree {
    text-align: center;
}

h4#carFour {
    text-align: center;
}

p#carFive {
    text-align: center;
}

h4#carSix {
    text-align: center;
}

/*FORM/CONTACT*/

h1#conOne {
    height: 50px;
    margin-bottom: 0px;
    background-color: #484A4C;
    text-align: center;
    color: white;
}

h4#conTwo {
    height: 50px;
    margin-top: 0px;
    background-color: #484A4C;
    text-align: center;
    color: white;
}

div.contact {
    text-align: left;
    margin-top: 30px;
}

div#comment {
    height: 80px;
}
div#submitButton {
    float: right;
}

/*FOOTER*/

p#sign {
    text-align: center;
    background-color: #484A4C;
    color: white;
    height: 50px;
    margin-bottom: 0px;
}
p#copyright {
    text-align: center;
    background-color: #484A4C;
    color: white;
    height: 50px;
    margin-top: 0px;
}
